body 
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.card 
{
    width: 400px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}
/* .height 
{
    height: 285px;
} */
.main-photo 
{
    width: 100%;
    height: 285px;
    display: block;

}
.photo-block
{
    position: relative;
}
.center 
{
    text-align: left;
}
p{
font-size: 35px;
text-align: center;
}
h1{
    font-family: 'Pacifico', cursive;

}
.btn{
    text-decoration: none;
    text-align: center;
    padding: 10px;
   /* width: 50px; */
   font-family: 'Pacifico', cursive;
   position: absolute;
   top: 100px;
   left:0; right: 0;
   margin: auto;
   background: transparent;
   color: white;
   width: 200px;
   border: 2px solid #fff;
font-size: 15px;
}
.btn2 
{
    top: 180px;
}
/* .main-phota {
    display: inline-block;
   
} */

